/* navabr bg color */

.navbarbg{
    background-color: rgb(239,239,240);
    border: 1px solid rgb(219,219,220);
}

/* login image at left corner */

.loginimg{
    height: 35px;
    width: 35px;
}

.navbar-light .navbar-nav .nav-link.active{
    color: rgb(81,183,231)!important;
    border-bottom: 2px solid rgb(81,183,231);
    height: 120%;
    width: 22px;
    padding-inline: unset;
 

}
.menubuttonbg{
    background-color: rgb(239,239,240);
    font-size: smaller;
    border-bottom: 1px solid rgb(219,219,220);
}

.addbgforBtn{
    background-color: rgb(81,183,231) !important;
    color: white !important;
    border: none !important;  
}  

.btnSubmit{
    background-color: rgb(57,150,31);
    width: 40%;
    border-bottom: 1px solid rgb(57,150,31); 
}

.fontsizeForMaindiv{
    font-size: 15px;
}
.sourceAccountBg{
    background-color: rgb(75,165,229);
}
.dynamicDiv{
    border: 1px solid rgb(212, 211, 211);
    font-size: small;
}
.dropableDivBg1{
    background-color: rgb(83,193,205);
}
.dropableDivBg2{
    background-color: rgb(88,205,215);
}
.dropableDivBg3{
    background-color: rgb(127,223,230);
}
input[type='search']{
    border:1px  solid rgb(212, 211, 211);
    border-radius: 3px;
}
.bgDestination{
    background-color: rgb(62,157,102);
}

nav#menu-container {
   
    position:relative;
    width:100%;
    height: 40px;
}
#btn-nav-previous {
    text-align: center;
    color: black;
    cursor: pointer;
    font-size: small;
    position: absolute;
    left: 0px;
    padding: 9px 12px;
    fill:#FFF;
    padding-left: 5%;
    background-color: #FFF;
}
#btn-nav-next {
    text-align: center;
    color: black;
    cursor: pointer;
    font-size: small;
    position: absolute;
    right: 0px;
    padding: 9px 12px;
    fill:#FFF;
    background-color: #FFF;
}
.menu-inner-box
{ 
    width: 100%;
    white-space: nowrap;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
}
.menu
{  
    padding:0;
    margin: 0;
    list-style-type: none;
    display:block;
    text-align: center;
}
.menu-item
{
    height:100%;
    padding: 25px;
    color: black;
    display:inline;
    margin:0 auto;
    line-height:38px;
    text-decoration:none;
    text-align:center;
    white-space:no-wrap;
    background-color: #FFF;
}

.last-item{
  margin-right: 50px;
}

.arrow{
    border: 1px solid rgb(212, 211, 211);
    border-radius: 5px;
}

.menulistColor{
    text-decoration: underline;
    border-bottom: 2px solid rgb(62,157,102);
    color: rgb(62,157,102);
    font-weight: bold;
}


